<div class="card mb-3">
  <div class="container">
    <div class="row no-gutters my-5">
      <div class="col-md-6">
        <img src="../../../../assets/image/ss1.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h2 class="card-title display-5">About Us</h2>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content.
            This content is a little bit longer.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. </p>


          <div class="icon-box wow fadeInUp" data-wow-delay="0.4s"
            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
            <div class="icon"><i class="fa fa-bar-chart"></i></div>
            <h4 class="title"><a href="">Dolor Sitema</a></h4>
            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat tarad limino ata</p>
          </div>

          <div class="icon-box wow fadeInUp" data-wow-delay="0.4s"
            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
            <div class="icon"><i class="fa fa-bar-chart"></i></div>
            <h4 class="title"><a href="">Dolor Sitema</a></h4>
            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat tarad limino ata</p>
          </div>

          <div class="icon-box wow fadeInUp" data-wow-delay="0.4s"
            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
            <div class="icon"><i class="fa fa-bar-chart"></i></div>
            <h4 class="title"><a href="">Dolor Sitema</a></h4>
            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat tarad limino ata</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
